{% extends "base.html" %} {% block main %}

<div class="container mt-3">
  {% include "includes/messages.html" %}
  <a href="{% url 'add_url' %}" class="btn btn-success">Add URL</a>
  <br />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">URL Address</th>
        <th scope="col">Request Interval</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for url in urls %}
      <tr class="" id="{{url.id}}">
        <th scope="row">{{url.id}}</th>
        <td>{{url.custom_name}}</td>
        <td
          class="url-address"
          data-tr_id="{{url.id}}"
          data-request_interval="{{url.request_interval}}"
        >
          {{url.url}}
        </td>
        <td>{{url.request_interval}}</td>
        <td>
          <a href="{% url 'update_url' url.id %}" class="btn btn-info">Edit</a>
        </td>
        <td>
          <a
            href="{% url 'list_of_urls' %}?action=delete&id={{url.id}}"
            class="btn btn-danger"
            >Delete</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  const urls = document.querySelectorAll(".url-address");
  urls.forEach((url) => {
    setInterval(function () {
      check_status(url);
    }, parseInt(url.getAttribute("data-request_interval")) * 1000);
  });

  function check_status(url) {
    const url_address = url.innerHTML.toString();

    const xhr = new XMLHttpRequest();

    xhr.addEventListener("readystatechange", function () {
      console.log(xhr);
    });

    xhr.open(
      "POST",
      "https://uptime-django-monitor.herokuapp.com/check_status/"
    );
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhr.send({
      url: url,
    });

    if (true) {
      document
        .getElementById(url.getAttribute("data-tr_id"))
        .classList.add("table-success");
      document
        .getElementById(url.getAttribute("data-tr_id"))
        .classList.remove("table-danger");
    } else {
      document
        .getElementById(url.getAttribute("data-tr_id"))
        .classList.add("table-danger");
      document
        .getElementById(url.getAttribute("data-tr_id"))
        .classList.remove("table-success");
    }
  }
</script>

{% endblock %}
